
<div class="mainBlock">
  <mat-card>
    <mat-card-title >TODO</mat-card-title>

      <mat-form-field appearance="legacy">
        <input type="text" matInput placeholder="Add Todo" [(ngModel)]="taskName"/>
      </mat-form-field>

      <mat-card-actions align="end">
        <button mat-raised-button (click)="addToList()">Add Task</button>
      </mat-card-actions>

      <div class="listItems">
       <mat-list *ngFor="let todo of arrayTodo; let i=index;">
         <!-- {{todo.task}} -->
          <mat-list-item *ngIf="!todo.edit">
            {{todo.task}}
            <div>
              <mat-icon color="warn" (click)="deleteTask(i)">delete</mat-icon>
              <mat-icon (click)="editTask(todo)">edit</mat-icon>
            </div>
          </mat-list-item>

          <div *ngIf="todo.edit" class="editDiv">
            <input class="editInput" value={{todo.task}} [(ngModel)]="todo.task"/>
            <mat-icon color="warn" (click)="cancelEdit(todo)">cancel</mat-icon>
            <mat-icon (click)="updateTask(todo,i)">save</mat-icon>
          </div>
        </mat-list>
      </div>
  </mat-card>
</div>

